header{
    
    background-color:rgb(183, 62, 62);
    margin: 0;
    height: 45px;
    
}
nav{
    display: block;
    background-color:rgb(227, 69, 16);
    margin: 0;
    height: 45px;
}
aside{
    
    width: 20%;
    background-color: yellow;
    float: right;
    height: 435px;
    text-size-adjust: 20px;
}
.bigsection{
    width: 80%;
    background-color: rgb(51, 177, 82);
    margin: 0;
    padding-left: 20px;
    

}
h1,h2,h3{
    margin: 0;
    height: 35px;
    

}
.section1>p,.section2>p{
    background-color: rgb(35, 134, 111);
    margin-bottom: 0;
    height: 45px;
    width:95%;
    
}
footer{
    background-color: rgb(31, 40, 34);
    color: white;
    margin: 0;
    height: 45px;
    
}